* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    
    text-align: center  ;
}

/* typography===========
===================== */
h1{
    font-size: 2.25rem;
    margin: 0;
    color: #FFF;
}

h1+p{
    color: #F18119;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;

}
h2{
    font-size: 1.125rem;
    margin: 0;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 5px solid #f18119;
    order: -1;
    margin: 0;
    padding-top: 5px;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

strong{
    font-weight: 900;
}

.fine-print{
    font-size: 00.625rem;
    letter-spacing: 1px;
    padding: 1em;
    margin: 0;
}

/* pic section =======
==================== */
.pic{
    background-color: #404040;
    background-image: url(../img/bbq.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    min-height:  100%;
    justify-content: space-between;
   
}
.pic *{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    padding: 2em 1em;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box {
    max-width: 400px;
    margin: 0 auto;
   
}
.container-pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}



/* email========
=============== */
.mail{

    width: 80%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}
input,button{
    width: 100%;
    border-radius: 10px;
}
.btn{
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    font-weight: 900;
    border: 0;
    cursor: pointer;
    letter-spacing: 1px;
}
.btn-primary{
    background:linear-gradient(270deg,#ff713b, #ffa51d);
    color: white;
    transform: scale(1);
    transition: all 1s;
    overflow: hidden;
}
.btn-primary:hover{
    background: linear-gradient(20deg,#ff713b, #ffa51d);
    color: #404040;
    transform: scale(1.08);
}

input{
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    border:1px solid #404040;

}
/*======================
======================= 
Media query */
@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
    }
    .container{
        display: flex;
        
        
    }
    .container-pic {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    .pic{
        width: 50%;
        min-height: 100vh;
      
        justify-content: space-between;
    }
    .form{
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    .container-intro {
        height: 100%;
        background: pink;
    }


}

